body
{
    color: #333;
    text-align: left;
    font-size: 16px;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD
=======

#cabecera
{
    background: #33A;
    /* background: url("./grasshopper azul.png"); */
    box-shadow: 0px 5px 30px 0px rgb(0, 0, 0, 75);
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0.5em;

}

#cabecera #tagline 
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0,8em ;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
   font-size: 20px; 
}

#footer
{
    background: rgb(178, 180, 179);
    padding: 0.5em;
    text-align: center;
}

#imagen1
{
    width: 100px;
    height: 100px;
}

#cabecera #grillo
{
    width: 20px;
    vertical-align: middle;
    border-radius: 0.3em ;
}
>>>>>>> f7ce0342685e4dad14b3ac85490941e7c7546a8f
